

.iconLogo {
  background-image: data-uri('../Assets/logoScreenUser.png');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 0.4rem;
}

.iconFire {
  background-image: data-uri('../Assets/fire.png');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 0.5rem;
}

.imgManWorks {
  background-image: data-uri('../Assets/illustration01.jpg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
}