

.d_f { display: flex; } 
.d_i_b { display: inline-block; } 
.d_i { display: inline; }

.pos_a { position: absolute; }
.pos_r { position: relative; }

.p_t_0 { padding-top: 0; }
.p_t_0p4_rem { padding-top: 0.4rem; }
.p_t_0p8_rem { padding-top: 0.8rem; }
.p_t_2_rem { padding-top: 2rem; }
.p_t_4_rem { padding-top: 4rem; }

.p_r_0 { padding-right: 0; }
.p_r_2_rem { padding-right: 2rem; }

.p_b_0 { padding-bottom: 0; }
.p_b_0p4_rem { padding-bottom: 0.4rem; }
.p_b_2_rem { padding-bottom: 2rem; }
.p_b_3_rem { padding-bottom: 3rem; }

.p_l_0 { padding-left: 0; }
.p_l_1_rem { padding-left: 1rem; }
.p_l_2_rem { padding-left: 2rem; }
.p_l_4_rem { padding-left: 4rem; }

.p_x_0 { .p_l_0; .p_r_0; }
.p_x_2_rem { .p_l_2_rem; .p_r_2_rem; }

.p_y_0 { .p_t_0; .p_b_0; }
.p_y_0p4_rem { .p_t_0p4_rem; .p_b_0p4_rem; }

.m_t_2_rem { margin-top: 2rem; }
.m_t_4_rem { margin-top: 4rem; }

.m_r_0p5_rem { margin-right: 0.5rem; }

.b_r_0 { border-radius: 0 }
.b_r_3_rem { border-radius: 3rem; }

.w_100 { width: 100%; }
.w_8_rem { width: 8rem; }
.w_10_rem { width: 10rem; }

.h_100 { height: 100%; }

.t_tr_uc { text-transform: uppercase; }

.rotate_180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}