

.iconLogo {
  background-image: data-uri('../Assets/logoScreenUser.png');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 0.4rem;
}

.iconFire {
  background-image: data-uri('../Assets/fire.png');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 0.5rem;
}

.imgManWorks {
  background-image: data-uri('../Assets/illustration01.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-position-x: left;
}

.imgWomanPhone {
  background-image: data-uri('../Assets/illustration03.png');
  position: relative;
  background-repeat: no-repeat;
  background-position-x: left;
}

.step01 {
  background-image: data-uri('../Assets/step01.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.step02 {
  background-image: data-uri('../Assets/step02.png');
  background-repeat: no-repeat;
  background-position-x: left;
}

.step03 {
  background-image: data-uri('../Assets/step03.png');
  background-repeat: no-repeat;
  background-position-x: left;
}

.step04 {
  background-image: data-uri('../Assets/step04.png');
  background-repeat: no-repeat;
  background-position-x: left;
}

.user01 {
  background-image: data-uri('../Assets/step01.png');
  background-repeat: no-repeat;
  position: relative;
}

.user02 {
  background-image: data-uri('../Assets/step02.png');
  background-repeat: no-repeat;
  position: relative;
}

.user03 {
  background-image: data-uri('../Assets/step03.png');
  background-repeat: no-repeat;
  position: relative;
}

.user04 {
  background-image: data-uri('../Assets/step04.png');
  background-repeat: no-repeat;
  position: relative;
}