
.Descriptors {

  .transitionPrevDesc {
    opacity: 0;
    -webkit-clip-path: inset(49% 0 50% 0);
    clip-path: inset(49% 0 50% 0);
    -webkit-transform: scaleY(.7);
    transform: scaleY(.7);

    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
    transform-origin: center;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: .5s;
    transition-delay: 800ms;
  }

  .transitionNextDesc {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
    transform: none;
  }
  
  .descWrapper1 {
    &:extend(.p_x_0);
    .descriptorRow1 {
      letter-spacing: -2px;
      font-size: @fontSize_h1;
      font-weight: 700;
    }
  }

  .descWrapper2 {
    &:extend(.p_x_0);
    .descriptorRow2 {
      font-size: @fontSize_origin;
    }
  }



  @media @large {

  }
  @media @desktop, @desktop-strict {
  
  }
  @media @tablet, @tablet-strict {
  
  
  }
  @media @phone, @phone-strict {

    .descWrapper1 {
      .descriptorRow1 {
        text-align: left;
        font-size: @fontSize_h1_phone;
      }
    }

    .descWrapper2 {
      .descriptorRow2 {
        .d_n;
        text-align: center;
        font-size: 4vw;
      }
    }
  }

}


