
.ImgList {
  .ImgList__capture {
    .f_s_2_rem;
  }
  h2 {
    padding-left: 2.5rem;
    padding-bottom: 1rem;
  }
  ul {
    list-style: none;
    li::before {
      content: "\2022";
      color: @color5;
      font-weight: bold;
      display: inline-block; 
      width: 1rem;
      margin-left: -2rem;
      transform: scale(1.5);
    }
    .ImgList_li {
      &:extend(.p_b_1_rem);
      .ImgList__liCapture {
        .f_s_1_rem;
        margin-top: -1.9rem;
      }
      .ImgList__details {
        &:extend(.p_y_0p4_rem);
        .f_s_0p9_rem;
        color: @color8;
        line-height: 1.3rem;
      }
    }
  }
  .ImgList__imgWrapper {
    &:extend(.p_t_5_rem);
    //height: min-content;
    //max-height: min-content;
  }
  .ImgList__img {
    .bgImgSizeManWorks;
    //height: -webkit-fill-available;
  }
  .bgImgSizeManWorks {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
    .ImgList__capture {
      .f_s_6p5_vw;
    }
    .ImgList__imgWrapper {
      .d_n;
    }
    ul {
      li::before {
      
      }
      .ImgList_li {
        .ImgList__liCapture {
          margin-top: -1.5rem;
        }
      }
    }
  }
}


