

.LogoElem {
  .titleSection;
  .f_s_2_rem;

  .LogoElem__part1 {
    color: @color1;
  }

  .LogoElem__part1_inv {
    color: @color7;
  }

  .LogoElem__part2 {
    color: @color5;
  }

  .LogoElem__part2_inv {
    color: @color4;
  }

  @media @large {
      
  }
  @media @desktop, @desktop-strict {
    
  }
  @media @tablet, @tablet-strict {
    
  }
  @media @phone, @phone-strict {
    .f_s_2_rem;
  }
}


