
.WorkFlow {
  .WorkFlow__img {
    width: 5rem;
    height: 5rem;
    padding-top: 1rem;
    margin-left: 15%;
  }
  .WorkFlow__capture {
    font-size: @fontSize_f;
    color: @color2;
    padding-top: 1rem;
  }
  .WorkFlow__details {
    font-size: @fontSize_b;
    color: @color8;
    line-height: 1.3rem;
    padding-top: 1rem;
  }
}
